<h1>Tools#show</h1>
<p>Find me in app/views/tools/show.html.erb</p>


<%= @tool.name %>
<br>
<%= @tool.price_per_day %>
<br>
<%= @tool.description %>
<br>
<%= @tool.place %>
<br>
<%= @tool.user.first_name %>
