<div class="container">


  <div class="tool-navbar">
    <p><%= link_to "ACCUEIL", root_path %> / <%= link_to "VOIR TOUT", tools_path %> / <%= @tool.name.upcase %></p>
  </div>

  <div class="tool-container">
    <div class="row show-row">
      <div class="col-md-6">
        <% if @tool.photo.url.nil? %>
          <% url = cl_image_tag("qkdcyx2j5vajhsqdsd1o.jpg", crop: :fill) %>
        <% else %>
          <% url = cl_image_path(@tool.photo, crop: :fill) %>
        <% end %>
        <div class="tool-picture text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= url %>')" ></div>
      </div>
      <div class="col-md-6">
        <div class="row tool-content">
          <div class="tool-title">
            <img class="tool-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <h1><%= @tool.name.upcase %></h1>
          </div>
          <div class="tool-info">
            <h4><%= @tool.place %></h4>
            <h4><strong><%= @tool.price_per_day %>€ per day</strong></h4>
          </div>
          <div class="tool-description">
            <p><%= @tool.description %></p>
          </div>
          <div class="tool-form">
              <%= render "reservations/form_new", reservation: @reservation %>
          </div>
        </div>
      </div>
    </div>


 <!-- <%= @tool.name %>
  <br>
  <%= @tool.price_per_day %>
  <br>
  <%= @tool.description %>
  <br>
  <%= @tool.place %>
  <br>
  <%= @tool.user.first_name %>
</div> -->
