<div class="user-tool-info">
  <% if @tools.empty? %>
    <h4>No Tools Yet</h4>
  <% else %>
    <div class="row">
      <% @tools.each do |tool|%>
        <% if tool.photo.url.nil? %>
          <% aphoto = "https://res.cloudinary.com/dcmexvwbg/image/upload/v1534942802/np3zybbynuosmuvnj4nt.jpg" %>
        <% else %>
          <% aphoto = tool.photo %>
        <% end %>
        <div class="col-xs-12 col-sm-4">
          <div class="card card-tool" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path aphoto %>');">
            <div class="card-tool-infos">
              <div class="card-tool-price">
                <p class="pricehighlights"><%= tool.price_per_day %> € / jour</p>
              </div>
              <div class="card-tool-name">
                <h4><%= tool.name %></h4>
              </div>
            </div>
            <div class="card-tool-reservation">
              <% reservation = tool.next_reservation %>
              <% if reservation.nil? %>
                <h5>No reservations yet !</h5>
              <% else %>
                <% user = User.find(reservation.user_id) %>
                <h5>Next Reservation</h5>
                <p>Name: <%= user.name %></p>
                <p>Date: <%= reservation.start_date %>, pour <%= reservation.duration %> jour(s)</p>
              <% end %>
            </div>
            <%= link_to " ", tool_path(tool.id), class:"card-tool-link" %>
          </div>
          <div class="tool-next-reservation">
            <!-- <button type="button" class="btn btn-primary btn-sm btn-card-tool" data-toggle="modal" data-target="#myModal">Next Reservation</button> -->
            <%= link_to "Reservation History", "#myModal-#{tool.id}", class: "btn btn-primary btn-sm btn-card-tool", "data-toggle" => "modal" %>
            <%= render "shared/modal_tools_resa", tool: tool%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


