<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <p id="logo"> <i class="fas fa-gavel"></i></p>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <div class="dropdown-nvb-category-menu">
      <%= link_to "Louer du matériel", "/tools"%>
      <div class="dropdown-nvb-content">
        <div class="dropdown-nvb-content-flex">

          <div class="flex-item">
            <ul>
              <li><%= link_to "Outils", tools_path(query: 'Outils') %></li>
              <li><%= link_to "Matériel de rénovation", tools_path(query: 'Matériel de rénovation')%></li>
              <li><%= link_to "Jardinage", tools_path(query: 'Jardinage') %></li>
              <li><%= link_to "Matériel entretien", tools_path(query: 'Matériel entretien') %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <% if user_signed_in? %>


    <!-- Links when logged in -->
    <%= link_to "Ajouter un tool", new_tool_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>


    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo, class: "avatar", id: "navbar-wagon-menu", data: {toggle: "dropdown"}, width: 40, height: 40 %>
        <% else %>
          <i class="fas fa-user-circle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
        <% end %>

        <!-- <p><%# image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: { toggle: "dropdown" } %> </p -->
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
              <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>




      <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Devenez loueur", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Comment ça marche", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>



<!-- Search button  -->

      <div class="dropdown">
        <button class="btn dropdown-toggle search-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fas fa-search"></i>

        </button >
        <ul class="dropdown-menu dropdown-menu-right research-field " aria-labelledby="dropdownMenu1">

          <%= form_tag tools_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form-control",
            placeholder: "Chercher un outil ou un lieu..."
            %>
          <% end %>

          </ul>
      </div>

<!-- end of search button -->


      </div>

      <!-- Dropdown list appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Some mobile link</a></li>
            <li><a href="#">Other one</a></li>
            <li><a href="#">Other one</a></li>
          </ul>
        </div>
      </div>
    </div>

