<div class="container">
  <div class="flex-container">

    <div class="box1">

      <ul>
        <h2><%= @tool.name %>  </h2>
        <p><%= @tool.description %></p>
        <li>Prix : <%= @tool.price_per_day %> € / jour</li>
        <%= @tool.photo.url %>
      </ul>
    </div>

    <%= render 'form_new', reservation: @reservation %>

  </div>


  <%= link_to "back to tool", tool_path(@tool) %>
</div>
